@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --overpass-300-600: 'Overpass', sans-serif;
    --ubuntu-400-500-700: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    gap: 5em;
}

.head .logo{
    display: block;
    cursor: pointer;
}

.head #hamburger-icon{
    display: block;
    cursor: pointer;
}

.sect-1{
    background-image: url('images/bg-pattern-intro-mobile.svg') , linear-gradient(100deg,
        hsl(13, 100%, 72%),
        hsl(353, 100%, 62%)
    );
    background-position: left;
    background-size: 250%;
    height: 75vh;
    border-bottom-left-radius: 70px;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2em auto;
}

.cta{
    width: 90%;
    margin: auto;
    margin-top: 7em;
}

.cta h1{
    font-size: 3em;
    color: hsl(0, 0%, 100%);
    font-family: var(--ubuntu-400-500-700);
    font-weight: 400;
}

.sect-1 p{
    color: hsl(0, 0%, 100%);
    font-family: var(--overpass-300-600);
    font-weight: 300;
    margin: 20px;
}

.sect-1 .btn{
    background-color: none;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-family: var(--ubuntu-400-500-700);
    font-weight: 600;
}

.sect-1 .btn:nth-of-type(1){
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    cursor: pointer;
}

.sect-1 .btn:nth-of-type(2){
    background-color: hsl(2, 100%, 69%);
    color: hsl(0, 0%, 100%);
    border: 1px solid white;
    cursor: pointer;
}

.sect-2 img, .sect-3 img, .sect-4 img{
    width: 100%;
}

.sect-2{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sect-2 h2{
    color: hsl(209, 36%, 31%);
    font-family: var(--ubuntu-400-500-700);
    font-weight: 500;
}

.info{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sect-2 p{
    font-family: var(--overpass-300-600);
    font-weight: 300;
    color: hsl(207, 13%, 34%);
    font-size: 1em;
    line-height: 1.5em;
}

.sect-3{
    background-image: url('./images/bg-pattern-circles.svg'), linear-gradient(100deg, 
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%));
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: -100px -240px, 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 75vh;
    border-radius: 0px 100px 0px 100px;
    margin-top: 10em;
}

.sect-3 img{
    margin-top: -150px;
}

.sect-3 p{
    font-family: var(--overpass-300-600);
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    line-height: 1.5em;
}

.sect-3 h2{
    color: hsl(0, 0%, 100%);
    font-size: 2em;
    font-family: var(--overpass-300-600);
    font-weight: 600;
}

.sect-4{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sect-4 h2{
    color: hsl(209, 36%, 31%);
    font-family: var(--ubuntu-400-500-700);
    font-weight: 500;
}

.sect-4 p{
    font-family: var(--overpass-300-600);
    font-weight: 300;
    color: hsl(207, 13%, 34%);
    font-size: 1em;
    line-height: 1.5em;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 10%, 16%);
    height: 90vh;
    border-top-right-radius: 100px;
    align-items: center;
    justify-content: center;
    font-family: var(--overpass-300-600);
    font-weight: 300;
}

footer img{
    width: 100px;
    margin: 2em;
}

footer h4{
    margin: 15px;
    color: hsl(0, 0%, 100%);
}

footer ul a{
    list-style: none;
    text-decoration: none;
    color: hsl(240, 2%, 79%);
}

/*This put the hamburger navbar under the logo*/
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    padding: 2em;
    width: 90%;
    background-color: white;
    margin-top: 30em; /*Maybe too much? I don't know..*/
    display: none;
}

nav button{
    border: none;
    font-family: var(--overpass-300-600);
    font-weight: 600;
    background: none;
    font-size: 20px;
    color: hsl(209, 36%, 31%);
}
/* .select-btn{
    border: none;
    font-family: var(--overpass-300-600);
    font-weight: 600;
    background: none;
    font-size: 20px;
    color: hsl(209, 36%, 31%);
} */
ul.nav-link.active .dropdown-menu{
    margin: 2em;
    display: block;
}

.dropdown-menu{
    transition: all 200ms ease-in-out;
    transition-delay: 100ms;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    margin: auto;
}

nav ul{
    text-align: center;
    width: 90%;
    margin: auto;
}
/*This could be closed or active, depending on it's state*/
ul div{
    background-color: hsl(240, 7%, 94%);
    border-radius: 5px;
    display: none;
}
/*___________*/
nav li{
    width: 100%;
    line-height: 2em;
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: hsl(207, 13%, 34%);
    font-family: var(--overpass-300-600);
    font-weight: 600;
}

.divider{
    height: 2px;
    width: 100%;
    background-color: hsl(0, 0%, 71%);
    margin: 1em;
}

.nav-btns{
    padding: 5px;
    margin: 5px;
}

#register-btn{
    background: linear-gradient(90deg,
        hsl(13, 100%, 72%),
        hsl(353, 100%, 62%)
    );
    padding: 15px 40px; 
    color: white;
    border-radius: 50px;
}

button, a{
    cursor: pointer;
}

#hamburger-icon{
    cursor: pointer;
}

footer ul{
    list-style: none;
}

/* active states */
.active #hamburger-icon{
    content: url(./images/icon-close.svg);
}

.active nav{
    display: flex;
}

.open div{
    display: block;
}
/*MOBILE M DEVICES*/
@media screen and (min-width: 375px) and (max-width: 424px){
    .sect-3{
        min-height: 100vh;
    }
}
/*MOBILE L DEVICES*/
@media screen and (min-width: 425px) and (max-width: 767px){
    .sect-3{
        min-height: 100vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .sect-3{
        min-height: 100vh;
    }
    .sect-3 img{
        width: 80%;
    }
}

/*LARGE DESKTOP*/
@media screen and (min-width: 992px){
/*HEADER SECTION*/
    header{
        display: grid;
        grid-template-columns: 10% 85%;
        width: 90%;
        margin: auto;
    }
    .head #hamburger-icon{
        display: none;
    }

    ul.nav-link.active .dropdown-menu{
        margin: 2em;
        display: block;
        margin-top: -20px;
        padding: 10px;
    }

    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: none;
        left: 0;
        margin: auto;
    }

    .nav-link:after{
        content: url('./images/icon-arrow-light.svg');
        position: absolute;
        margin-left: -52px;
        margin-top: 45px;
    } 
    /* .nav-link .select-btn{
        border: 2px solid blue;
        overflow: hidden;
    } */

    .nav-link .dropdown-menu{
        display: none;
        position: absolute;
    }

    .nav-link .select-btn:hover .dropdown-menu{
        display: block;
    }

    .nav-links{
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .nav-link .select-btn{
        margin: 2em;
    }

    .nav-btns{
        color: white;
        cursor: pointer;
        margin: 30px;
    }

    .nav-links button{
        color: white;
        cursor: pointer;
    }

    .nav-btns:hover{
        text-decoration: underline;
    }

    #register-btn{
        background: white;
        color: hsl(356, 100%, 66%);
    }

    #register-btn:hover{
        background: hsl(356, 100%, 66%);
        color: white;
    }

    button.btn.primary:hover{
        background: hsl(356, 100%, 66%);
        color: white;
    }

    button.btn.reverse:hover{
        background: white;
        color: hsl(356, 100%, 66%);;
    }

    .divider{
        display: none;
    }
    /*END OF HEADER*/
    /*SECTION-2*/
    .sect-2 .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .wrapper .info{
        order: 1;
    }
    .wrapper img{
        order: 2;
    }

    .sect-2 .info h2 {
        text-align: left;
    }
    .sect-2 p{
        text-align: left;
    }
    /*------*/
    /*SECTION-3*/
    .sect-3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sect-3 .info{
        margin-top: 10em;
    }

    .sect-3 .info h2,
    .sect-3 p {
        text-align: left;
    }
    /*------*/
    /*SECTION-4*/
    .sect-4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
    }

    .sect-4 .info h2,
    .sect-4 p {
        text-align: left;
    }
    
    /*----------*/
    /*FOOTER*/
    footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: start;
        height: 40vh;
    }
    footer h4,
    footer li{
        text-align: start;
        margin: 10px;
    }
    footer h4{
        margin-bottom: 2em;
    }
    footer ul{
        margin-top: 2em;
        align-self: flex-start;
        justify-self: start;
    }
    footer img{
        align-self: flex-start;
        justify-self: center;
    }
}